<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="template(title,links,content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Awesome Service</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <th:block th:replace="${links}" />
</head>
<body>
    <div th:replace="header :: unauthenticated_header"></div>
    <div class="content" th:replace="${content}"></div>
</body>
</html>