<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/global.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="content">
    <h3>Sign Up</h3>
    <p>Please sign up to use our Awesome Service. Just add your email here and we'll send you a message</p>
    <form action="/signup" method="post" class="login-form" th:object="${signup_request}">
        <input id="email" type="email" name="email">
        <label for="email">Email</label>
        <input class="button" type="submit" value="Submit">
    </form>
</div>
</body>
</html>